[Unit]
After=network-online.target

[Timer]
# careful using RandomizedDelaySec with OnBootSec, as this also randomizes its delay
OnBootSec=5m
OnCalendar=daily
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=multi-user.target
