[Unit]
Description=Trigger flatpak packet updates ({{ flatpak_mode }})
After=network-online.target

[Timer]
OnBootSec=5m
OnCalendar=daily
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy={{ systemd_target }}.target
